<a href="https://colab.research.google.com/github/skc02/Sabitri_INFO5502_Summer2022/blob/main/lab_assignment_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first Lab-assignment (07/15/2022 11:59'AM' to 7/19/2022 11:59PM, 50 points in total)**

(1) Write a Python program to count the number of characters in a string. (6 points)

Sample String : 'google.com', 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [1]:
string = 'google.com'
count = {}
for char in string:
    if char in count:
        count[char] += 1
    else:
        count[char] = 1 
            
print("Number of characters in a string :\n"+ str(count))
sorted_count = dict(sorted(count.items(), key=lambda item: item[1],reverse=True))
print("Number of characters in a string :\n"+ str(sorted_count))

Number of characters in a string :
{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}
Number of characters in a string :
{'o': 3, 'g': 2, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(2) Write a Python program to sum all the items in a list. (6 points)

In [2]:
list = [3,4,5,6,7,8,9,2]
sum_r = 0
for i in list:
    sum_r = sum_r + i
#print("Sum of all the items in a list: ",sum(list) )
print("Sum of all the items in a list: ",sum_r)

Sum of all the items in a list:  44

(3) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (6 points)

Sample String : 'restart', 

Expected Result : 'resta\$t'

In [3]:
string = input("Enter a string:")
replaced_string = string[0] + string[1:].replace(string[0],'$')
print(replaced_string)

Enter a string:window
windo$

(4) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (6 points)

In [4]:
a = float(input("Enter first parameter:"))
b = float(input("Enter second parameter:"))
s = 3.14*(1+a/b)**3
print("The output result S = 3.14‚àó(1+ùëé/ùëè)3 = ",s)

Enter first parameter:3
Enter second parameter:5
The output result S = 3.14‚àó(1+ùëé/ùëè)3 =  12.861440000000004

(5) Write a Python program to concatenate following dictionaries to create a new one. (6 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [5]:
# write your answer here
dic1 = {1:10,2:20}
dic2 = {3:30,4:40}
dic3 = {5:50,6:60}
dic = dic1
dic.update(dic2)
dic.update(dic3)
print(dic)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(6) Write a Python program to check whether an element exists within a tuple. (6 points)

In [6]:
#Tuple = (52,24,14,a,b,2)
#check =9

def check_tuple(tuple,given_char):
    for ch in tuple:
        if ch == given_char:
            return True
    return False


x = input("Enter a tuple in comma separated string: ")
given_tuple = tuple(x.split(","))
char = input('Enter a character to find: ')

if check_tuple(given_tuple, char):
    print('{0} is in the tuple'.format(char))
else:
    print('{0} is not in the tuple'.format(char))

Enter a tuple in comma separated string: 2,4,5,6,6,4)
Enter a character to find: 4
4 is in the tuple

(7) Write a Python program to find maximum and the minimum value in a set. (6 points)

In [7]:
thisset = {42, 46,49.2,10,3.14159}
print ('Maximum value of set: ' ,max(thisset))
print ('Minimun value of set: ' ,min(thisset))

Maximum value of set:  49.2
Minimun value of set:  3.14159

(8) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (8 points)

In [9]:
def find_duplicate(nums):
    dup_set = set()
    num_set = set()
    for i in range(len(nums)):
        if nums[i] not in num_set:            
            num_set.add(nums[i])
        else:
            dup_set.add(nums[i])       
                      
    if len(dup_set) > 0:
        return "DUPLICATE FOUND : ", dup_set
    else :
        return "NO DUPLICATE FOUND : ", -1

choice = True
while choice == True:
    input_array = input("Enter element of an array in comma separated string:")
    a = input_array.split(",")
    print(find_duplicate(a))
    user_choice = input("Enter 'Y/N'.'N' to exit.Y to continue..")
    if user_choice.upper() == 'Y':
        choice = True
    else:
        choice = False   
        print("Good bye ..")

Enter element of an array in comma separated string:2,3,4,5,6,7,8,2
('DUPLICATE FOUND : ', {'2'})
Enter 'Y/N'.'N' to exit.Y to continue..y
Enter element of an array in comma separated string:2,3,4,5,6,7,8,9
('NO DUPLICATE FOUND : ', -1)
Enter 'Y/N'.'N' to exit.Y to continue..n
Good bye ..